p.title{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 200px;
    color: lime;
    font-family: 'Koulen', cursive;
}
p.bio{
    color: aqua;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}
body{
    background-image:url("1_QzFkkTILsHkTosn5Uf3_0g.jpeg");
    background-repeat: no-repeat;
    background-color: rgb(0, 255, 153);
}
a {
    font-size: 50px;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    color: aqua;
    background-color: lime;
    border-radius: 12px;
    transition: 1s;
    border-width: 160px;
}
a:hover {
    font-size: 70px;
}
pre {
    color: aqua;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}
h2{
    font-size: 50px;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    color: aqua;
    background-color: lime;
    border-radius: 12px;
    transition: 1s;
    border-width: 160px;
}
h2:hover{
    font-size: 70px;
}
h1{
    visibility: hidden;
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: rgb(0, 255, 153);
}
h2:hover + h1 {
    visibility: visible;
}
img{
    width: 500px;
    border-radius: 20px;
}